@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  @font-face {
    font-family: Roboto;
    font-style: normal;
    src: url('../assets/fonts/Roboto-Light.ttf');
  }

  * {
    font-family: 'Roboto';
  }
}


@layer utilities {

  .animate-mode-forwards {
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
  }

  .bg-active-normal {
    @apply bg-[url('../assets/images/highLightMotion_white_m.png')];
    background-position: -3312px;
  }

  .bg-active-small {
    @apply bg-[url('../assets/images/highLightMotion_white_s.png')];
    background-position: -1440px;
  }

  .bg-highlight-normal {
    @apply bg-[url('../assets/images/highLightMotion_white_m.png')];
  }

  .bg-highlight-small {
    @apply bg-[url('../assets/images/highLightMotion_white_s.png')];
  }

  .bg-dark-active-normal {
    @apply bg-[url('../assets/images/highLightMotion_black_m.png')];
    background-position: -3312px;
  }

  .bg-dark-active-small {
    @apply bg-[url('../assets/images/highLightMotion_black_s.png')];
    background-position: -1440px;
  }

  .bg-dark-highlight-normal {
    @apply bg-[url('../assets/images/highLightMotion_black_m.png')];
  }

  .bg-dark-highlight-small {
    @apply bg-[url('../assets/images/highLightMotion_black_s.png')];
  }
}